*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: POPPINS;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url('6233787.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.776);
    opacity: 0.4;
    z-index: 0;
}
.container{
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    
}
.container .menu-section{
    z-index: 5;
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 20px;
    width: auto;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 20px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.434);
    backdrop-filter: blur(16px);
    box-shadow: 2px 2px 10px rgba(66, 65, 65, 0.886);
    cursor: pointer;
}
.menu-section .shapes ul{
    display: flex;
    list-style: none;
}
.menu-section .shapes ul li:is(:hover, .active) i{
    color: rgb(83, 210, 253);
    font-size: 22px;
}
.menu-section .brush-eraser{
    display: flex;
    padding-left: 15px;
    
}
.brush-eraser ul{
    display: flex;
    list-style: none;
}
.brush-eraser ul li{
    padding-left: 10px;
}
.menu-section .brush-eraser ul li:is(:hover, .active) i{
    color: rgb(83, 210, 253);
    font-size: 22px;
}
.shapes ul li{
    padding-left: 10px;
}
.color-pattern{
    padding-left: 15px;
}
.color-pattern ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.color-pattern ul li{
    padding-left: 8px;
    align-items: center;
}

.color-pattern #clr{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 28px;
    appearance: none; 
    cursor: pointer;
    padding: 0px;
    /* box-sizing: border-box; */
    
    background-color: transparent;
    border: none;
}
#clr::-webkit-color-swatch{ 
    border-radius: 50%;
}
.color-pattern ul input[type="checkbox"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.color-pattern ul li{
    display: flex;
    align-items: center;
}
.color-pattern ul li span{
    font-size: 12px;
    padding-left: 5px;
}
.draw-section{
    z-index: 1;
    width: calc(100% - 100px);
    height: 450px;
    background-color: rgba(255, 255, 255, 0.532);
    border: 1px solid white;
    backdrop-filter: blur(10px);
    margin: auto;
    display: flex;
    border-radius: 5px;
    position: relative;
}
.draw-section .left-side{
    /* width: 10%; */
    height: 100%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 10px;
    left: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    font-size: 14px;
    text-align: center;
}
.draw-section .left-side .show-brush-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.draw-section .left-side .show-brush-width span{
    width: 20px;
    height: 20px;
    /* border: 1px solid black; */
    background-color: black;
    border-radius: 50%;
}
.draw-section .right-side{
    width: 100%;
    height: 100%;
    /* border: 1px solid grey; */
}
.draw-section .right-side canvas{
    width: 100%;
    height: 100%;
    z-index: 2;
}
.draw-section .left-side input[type="range"]{
    /* transform: rotate(-90deg); */
    width: 150px;
    height: 4px;
    border: none;
    outline: none; 
    margin-bottom: 14px;
    cursor: pointer;
}
.image-save-section{
    z-index: 1;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-save-section button{
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 10px rgba(52, 51, 51, 0.55);
    border: 1px solid white;
    color: white;
    transition: .3s ease-in;
    cursor: pointer;
}
.image-save-section button:hover{
    padding: 5px 18px;
    background-color: rgba(152, 152, 152, 0.404);
}
.image-save-section #save{
    margin-left: 20px;
    background-color: rgba(58, 129, 243, 0.516);
    border: 1px solid rgb(0, 102, 255);
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: 2px 2px 10px rgba(52, 51, 51, 0.37);
 
}
.image-save-section #save:hover{
    background-color: rgba(3, 39, 96, 0.806);
    padding: 5px 18px;
}